<div class="row" id="printable">

  <div class="col-lg-12" ng-class="saveError ? 'bg-light-red' : ''">
    <h1 ng-if="saveError" style="color: red; font-weight: bold; text-align: center; margin-bottom: 30px;">Došlo je do greške prilikom čuvanja, buduće izmene verovatno neće biti sačuvane</h1>
    <h2 style="text-align: center; margin-top: 0; margin-bottom: 20px;">
      <!-- <select ng-model="raspored.izabraniMesec" ng-options="formatMonth(mesec) for mesec in raspored.meseci" ng-change="osveziModel(raspored.izabraniMesec)">
      </select> -->

      <!-- <select ng-model="selectedMesec" ng-options="mesec for mesec in availableMonths" ng-change="getModel(selectedMesec)">
      </select> -->

      <!-- {{aktivniMesec.ime}} -->

      <select ng-model="selectedMesec" ng-change="getModel(selectedMesec)">
        <option ng-repeat="mesec in availableMonths" ng-value="mesec">{{mesec}}</option>
      </select>

      <button ng-click="printToCart('printSectionId')" class="button" style="margin-left: 20px;">PRINT <i class="fas fa-print"></i></button>
      <button type="button" ng-click="popuniModel()" ng-if="!PRODUCTION">POPUNI</button>
      <button type="button" ng-click="removePrintDays()" ng-show="printDaysSet">SKLONI DANE <i class="fas fa-times"></i></button>
      <button type="button" ng-click="sacuvajModel()" ng-class="formDirty ? 'bg-red' : 'bg-green'">SAVE <i class="fas fa-save" ng-show="!savedModel"></i><i class="fas fa-thumbs-up" ng-show="savedModel"></i></button>

    </h2>

    <div class="col-lg-2">
      <radnici-list radnici="model.radnici.kuvarice"
                    selected="selectedRadnik"
                    disable-neradni-dani="disableNeradniDani"
                    reset-neradni-dani="resetNeradniDani"
                    izbrisi-iz-rasporeda="izbrisiIzRasporeda"
                    current-month="model.mesec.momentModel"
                    form-dirty="formDirty">
      </radnici-list>


      <!-- <ul style="text-align: right; list-style: none;" class="font-big">
        <li ng-repeat="item in radnici.kuvarice"
          dnd-draggable="item"
          dnd-type="'kuvarice'"
          dnd-effect-allowed="copy"
          dnd-selected="models.selected = item"
          dnd-dragstart="onDragStart();"
          ng-class="{'selected': models.selected === item}">
          <p class="badge" ng-style="{'background-color': item.boja}" ng-dblclick="radnikEdit(item);" style="white-space:pre;">{{item.ime}}&#9;&#9;{{item.ukupnoDana}}</p>
        </li>
      </ul> -->


      <!-- <ul style="list-style: none; padding-left: 5px;" class="font-big radnici-list">
        <li ng-repeat="item in radnici.kuvarice"
            ng-class="{'selected-radnik': item.selected, 'editing-radnik': item.id === radnikEdit.id}"
            ng-mouseover="item.hover=true;"
            ng-mouseleave="item.hover=false;">
          <p class="badge" ng-style="{'background-color': item.boja}" ng-click="radnikSelect(item);" style="white-space:pre; cursor: pointer;">{{item.ime}}&#9;&#9;{{item.ukupnoDana}}</p>
          <span ng-show="item.hover" ng-click="izmeniRadnika(item);" style="cursor: pointer; position: relative; top: -4px;"><i class="far fa-calendar" ></i></span>
        </li>
      </ul>

      <ul ng-show="radnikEdit === null;"
          class="trashcan"
          dnd-list="[]"
          dnd-dragover=""
          dnd-drop="izbrisiIzRasporeda(item.id);">
        <li><i class="far fa-trash-alt" style="font-size: 150px; margin-top: 76px; margin-left: 59px;"></i></li>
      </ul>

      <div class="" ng-show="radnikEdit !== null;">
        <h4 style="color: red; text-align: center; cursor: pointer;" ng-click="radnikEdit=null;">ZATVORI&nbsp;<i class="fas fa-times" ></i></h4>
        <multiple-date-picker ng-model="neradniDani"></multiple-date-picker>
      </div> -->

    </div>

    <div class="col-lg-8" id="radnici-table" >

      <!-- <h1 style="text-align: center;">{{raspored.model}}</h1> -->

      <table class="col-lg-12 font-big radnici print-html">
        <tr>
          <td class="col-lg-1 border-right-emphasized"></td>

          <td class="col-lg-1 raspored-header kuvarice">I</td>
          <td class="col-lg-1 raspored-header kuvarice">M</td>
          <td class="col-lg-1 raspored-header kuvarice border-right-emphasized">II</td>

          <td class="col-lg-1 raspored-header konobari">I</td>
          <td class="col-lg-1 raspored-header konobari">M</td>
          <td class="col-lg-1 raspored-header konobari">II</td>
        </tr>

        <!-- <tr ng-repeat="dan in raspored.dani" ng-class="{'border-bottom-emphasized': dan.nedelja, 'disabled': dan.disabled}"> -->
        <tr ng-repeat="dan in model.mesec.dani" ng-class="{'border-nedelja': dan.nedelja, 'disabled': dan.disabled, 'print-show': printDaysSet && !dan.hidePrint, 'print-ignore': dan.hidePrint}">

          <td ng-style="{
                'font-weight': dan.nedelja ? 'bold' : 'normal',
                'color': !dan.edit && dan.komentar ? 'red' : ''}"
              ng-dblclick="dan.edit = true;"
              ng-mouseover="dan.hover=true;"
              ng-mouseleave="dan.hover=false;"
              class="border-right-emphasized raspored-dan">{{ dan.ime }}
                <span ng-if="dan.edit"><input ng-model="dan.komentar"/> <i class="fas fa-save" ng-click="dan.edit=false;" style="cursor: pointer; font-size: 30px"></i></span>
                <span ng-show="!dan.edit && dan.komentar;"> - {{dan.komentar}}</span>

                <i class="fas fa-print"  style="cursor: pointer; float: right; margin-top: 10px; font-size: 20px; color: black !important;" ng-if="!dan.edit && dan.hover" ng-click="markForPrint($index)"></i>
          </td>

          <!-- <grupa-radnika list="dan.radnici.kuvarice" type="'kuvarice'" smena-dodaj="dodajUSmenu" drag-start="radnikDragStart" dragging="radnikDragging" moved="radnikMoved" smena-drop="smenaDrop" selected="selectedKuvarica"></grupa-radnika> -->

          <td class="radnici" ng-repeat="smena in dan.radnici.kuvarice.smene track by $index" ng-click="!dan.radnici.kuvarice.disabledType && dodajUSmenu(selectedRadnik, smena, 'kuvarica');" ng-class="{'border-right-emphasized': $last, 'disabled-slobodan-dan': dan.radnici.kuvarice.disabledType === neradniDanEnum.Slobodan, 'disabled-bolovanje': dan.radnici.kuvarice.disabledType === neradniDanEnum.Bolovanje, 'disabled-godisnji-odmor': dan.radnici.kuvarice.disabledType === neradniDanEnum.Godisnji, 'placeholder': radnikDragging === 'kuvarica'}">
            <ul dnd-list
                dnd-drop="smenaDrop(item.id, smena, dan.radnici.kuvarice.disabledType)"
                dnd-allowed-types="['kuvarice']"
                dnd-horizontal-list="true"
                class="list-inline">

              <li ng-repeat="radnik in smena"
                  dnd-type="'kuvarice'"
                  dnd-draggable="radnik"
                  dnd-dragstart="radnikDragStart(radnik)"
                  dnd-canceled="radnikDragging=null"
                  dnd-moved="radnikMoved(smena, $index)"
                  ng-click="radnik.edit=!radnik.edit; $event.stopPropagation()">

                <span uib-popover-template="'radnik_modal.html'" class="badge radnik-name" ng-style="{'background-color': radnik.boja}">
                  {{radnik.ime}}<span ng-if="radnik.cistac"> <i class="fas fa-broom" ></i></span>
                </span>
                <span class="vreme-dolaska" ng-show="radnik.vremeDolaska">- {{radnik.vremeDolaska}}</span>

              </li>
            </ul>
          </td>

          <td class="radnici" ng-repeat="smena in dan.radnici.konobari.smene track by $index" ng-style="{'border-right': $last ? '3px solid black' : ''}" ng-click="!dan.radnici.konobari.disabledType && dodajUSmenu(selectedRadnik, smena, 'konobar');" ng-class="{'disabled-slobodan-dan': dan.radnici.konobari.disabledType === neradniDanEnum.Slobodan, 'disabled-bolovanje': dan.radnici.konobari.disabledType === neradniDanEnum.Bolovanje, 'disabled-godisnji-odmor': dan.radnici.konobari.disabledType === neradniDanEnum.Godisnji, 'placeholder': radnikDragging === 'konobar'}">
            <ul dnd-list
                dnd-drop="smenaDrop(item.id, smena, dan.radnici.konobari.disabledType)"
                dnd-allowed-types="['konobari']"
                dnd-horizontal-list="true"
                class="list-inline">

              <li ng-repeat="radnik in smena"
                  dnd-type="'konobari'"
                  dnd-draggable="radnik"
                  dnd-dragstart="radnikDragStart(radnik)"
                  dnd-canceled="radnikDragging=null"
                  dnd-moved="radnikMoved(smena, $index)"
                  ng-click="radnik.edit=!radnik.edit; $event.stopPropagation()">

                <span uib-popover-template="'radnik_modal.html'" class="badge radnik-name" ng-style="{'background-color': radnik.boja}">
                  {{radnik.ime}}<span ng-if="radnik.cistac"> <i class="fas fa-broom" ></i></span>
                </span>
                <span class="vreme-dolaska" ng-show="radnik.vremeDolaska">- {{radnik.vremeDolaska}}</span>

              </li>
            </ul>
          </td>

          <!-- <td class="radnici" ng-repeat="smena in dan.radnici.konobari.smene track by $index" ng-style="{'border-right': $last ? '3px solid black' : ''}" ng-click="!dan.radnici.konobari.disabled && dodajUSmenu(selectedKonobar, smena, 'konobar');" ng-class="{'disabled': dan.radnici.konobari.disabled}">
            <ul dnd-list
                dnd-drop="!dan.radnici.konobari.disabled && smenaDrop(item, smena)"
                dnd-allowed-types="['konobari']"
                dnd-horizontal-list="true"
                class="list-inline">
              <li ng-repeat="radnik in smena"
                  dnd-type="'konobari'"
                  dnd-draggable="radnik"
                  dnd-dragstart="disableNeradniDani(radnik);"
                  dnd-moved="smena.splice($index, 1)"
                  ng-dblclick="smena.cistac ? (smena.cistac=null) : (smena.cistac=radnik.id)">

                <p class="badge" style="font-size: 20px; width: 102px; cursor: pointer;" ng-style="{'background-color': radnik.boja}">
                  {{radnik.ime}}<span ng-show="smena.cistac === radnik.id"> <i class="fas fa-broom" ></i></span>
                </p>

              </li>
            </ul>
          </td> -->

          <!-- <td class="radnici" ng-repeat="smena in dan.radnici.konobari.smene track by $index" ng-click="dodajUSmenu(selectedKonobar, smena, dan, 'konobar');" ng-class="{'cell-error': smena.error}">
            <ul dnd-list
                dnd-drop="smenaDrop(item, smena, dan)"
                dnd-allowed-types="['konobari']"
                dnd-horizontal-list="true"
                class="list-inline">
              <li ng-repeat="radnik in smena"
                  dnd-type="'konobari'"
                  dnd-draggable="radnik"
                  dnd-dragstart="disableNeradniDani(radnik);"
                  dnd-moved="smena.splice($index, 1)"
                  ng-dblclick="smena.cistac ? (smena.cistac=null) : (smena.cistac=radnik.id)">

                <p class="badge" style="font-size: 20px; width: 102px; cursor: pointer;" ng-style="{'background-color': radnik.boja}">
                  {{radnik.ime}}<span ng-show="smena.cistac === radnik.id"> <i class="fas fa-broom" ></i></span>
                </p>

              </li>
            </ul>
          </td> -->

        </tr>
      </table>

    </div>

    <div class="col-lg-2">

      <radnici-list radnici="model.radnici.konobari"
                    selected="selectedRadnik"
                    disable-neradni-dani="disableNeradniDani"
                    reset-neradni-dani="resetNeradniDani"
                    izbrisi-iz-rasporeda="izbrisiIzRasporeda"
                    current-month="model.mesec.momentModel"
                    form-dirty="formDirty">
      </radnici-list>

      <!-- <div class="row">
        <ul style="list-style: none; padding-left: 5px;" class="font-big radnici-list">
          <li ng-repeat="item in radnici.konobari"
              ng-class="{'selected-radnik': item.selected, 'editing-radnik': item.id === radnikEdit.id}"
              ng-mouseover="item.hover=true;"
              ng-mouseleave="item.hover=false;">
            <p class="badge" ng-style="{'background-color': item.boja}" ng-click="radnikSelect(item);" style="white-space:pre; cursor: pointer;">{{item.ime}}&#9;&#9;{{item.ukupnoDana}}</p>
            <span ng-show="item.hover" ng-click="izmeniRadnika(item);" style="cursor: pointer; position: relative; top: -4px;"><i class="far fa-calendar" ></i></span>
          </li>
        </ul>
      </div>

      <div class="row">
        <button ng-click="printToCart('printSectionId')" class="button">Print</button>

        <ul ng-show="radnikEdit === null;"
            class="trashcan"
            dnd-list="[]"
            dnd-dragover=""
            dnd-drop="izbrisiIzRasporeda(item.id);">
          <li><i class="far fa-trash-alt" style="font-size: 150px; margin-top: 76px; margin-left: 59px;"></i></li>
        </ul>

        <div class="" ng-show="radnikEdit !== null;">
          <h4 style="color: red; text-align: center; cursor: pointer;" ng-click="radnikEdit=null;">ZATVORI&nbsp;<i class="fas fa-times" ></i></h4>
          <multiple-date-picker ng-model="neradniDani"></multiple-date-picker>
        </div>
      </div> -->



      <!-- <ul style="list-style: none;" class="font-big">
        <li ng-repeat="item in radnici.konobari"
          dnd-draggable="item"
          dnd-type="'konobari'"
          dnd-effect-allowed="copy"
          dnd-selected="models.selected = item"
          dnd-dragstart="onDragStart();"
          ng-class="{'selected': models.selected === item}">
          <p class="badge" ng-style="{'background-color': item.boja}" ng-dblclick="radnikEdit(item);" style="white-space:pre;">{{item.ime}}&#9;&#9;{{item.ukupnoDana}}</p>
        </li>
      </ul>-->
    </div>

  </div>
</div>

<script type="text/ng-template" id="radnik_modal.html">
  <div dnd-nodrag>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Vreme dolaska</label>
        <input type="number" ng-model="radnik.vremeDolaska" class="form-control" />
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" ng-click="radnik.cistac=!radnik.cistac" style="cursor: pointer">Cistac</label>
        <input type="checkbox" ng-model="radnik.cistac" style="cursor: pointer">
      </div>
    </form>
  </div>
</script>


<style>
table, th , td {
 border: 1px solid grey;
 border-collapse: collapse;
 padding: 5px;
}
table tr:nth-child(odd) {
 background-color: #f1f1f1;
}
table tr:nth-child(even) {
 background-color: #ffffff;
}
</style>
